.contact {
  padding: 10rem 0;
  background-color: #00171f;
  color: rgb(221, 202, 202);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.contact h2 {
  text-align: center;
  font-size: 4rem;
  line-height: 5.5rem;
  margin-bottom: 2rem;
}

.contact span {
  color: rgb(157, 115, 115);
}
