.logos {
  border-radius: 10px;
}

.logos button {
  border-style: none;
  background-color: inherit;
  cursor: pointer;
}

.logos img {
  height: 12rem;
  width: 12rem;
  border-radius: 10px;
}

.logos:hover {
  transition: all ease 0.2s;
  transform: scale(1.1);
}
