.projects {
  background-color: azure;
  padding: 20rem 0;
  font-size: 2rem;
}

.container {
  max-width: 120rem;
  padding: 0 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container > div {
  margin-bottom: 10rem;
}

.container h3 {
  margin-bottom: 1rem;
}

.mainHeading {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid black;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
  gap: 3rem;
}

.cards {
  height: 35rem;
  background-color: skyblue;
  border-radius: 5px;
}

@media (max-width: 935px) {
  .gridContainer {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .cards {
    height: auto;
  }
}
